@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using doAnWeb.Models;

<div class="card border-dark">
    <table class="border-dark mx-3 mb-3 mt-3">
        <tr class="text-left">
            <td rowspan="5" width="45%">
                <img src="@Url.Content("~/HinhAnhSP/" + Model.AnhBia)" width="100%" height="100%" alt="image">
            </td>
            <td width="20%">Tên Sách</td>
            <td width="35%" style="font-weight: bold; color: blue;">@Model.TenSach</td>
        </tr>
        <tr class="text-left">
            <td>Tên Chủ đề</td>
            <td style="color: blue;">@Model.ChuDe.TenChuDe</td>
        </tr>
        <tr class="text-left">
            <td>Tên NXB</td>
            <td width="35%" style="font-weight: bold; color: blue;">@Model.NhaXuatBan.TenNXB</td>
        </tr>
        <tr class="text-left">
            <td>Nội dung tóm tắt</td>
            <td>@Model.MoTa</td>
        </tr>
        <tr class="text-left">
            <td>Giá Bán</td>
            <td style="color: red; font-weight: bold">@string.Format("{0:0,0}", @Model.GiaBan) VNĐ</td>
        </tr>
        <tr>
            <td>
                <a href="@Url.Action("ThemGioHang","GioHang",new {@ms =Model.MaSach, @strURL = Request.Url.ToString()}) ">
                <input type="submit" value="MUA NGAY" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="@Url.Action("SachPartial", "Sach")"><input type="submit" value="MUA TIẾP" class="btn btn-primary" /></a>
                    </a>
            </td>
            <td></td>
        </tr>
    </table>
</div>
