@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using doAnWeb.Models;
@model List<GioHang>

<h2>THÔNG TIN HÀNG HÓA</h2>
<div class="card border-dark">
    <table class="table">
        <tr style="background-color:lightyellow">
            <th>MÃ SÁCH</th>
            <th>TÊN SÁCH</th>
            <th>ẢNH BÌA</th>
            <th>SỐ LƯỢNG</th>
            <th>ĐƠN GIÁ</th>
            <th>THÀNH TIỀN</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td width="12%">@item.iMaSach</td>
                <td width ="26%">@item.sTenSach</td>
                <td width="22%"><img src="/HinhAnhSP/@item.sAnhBia" width="150%"</td>
                @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaSP = item.iMaSach }))
                {
                    <td width="12%"><input type="number" min="1" name="txtSoLuong" value="@item.iSoLuong"</td> 
                    <td witdh="12%">@String.Format("{0:0,0}",item.dDonGia)</td>
                    <td witdh="16%">>@String.Format("{0:0,0}",item.dThanhTien)</td>
                }
            </tr> 
        }
        <tr style="background-color:lightyellow">
            <td colspan="3" style="color:blue; font-weight:bold; text-align:right:"> TỔNG CỘNG</td>
            <td style="color:red; font-weight:bold;">SL: @ViewBag.TongSoLuong</td>
            <td></td>
            <td colspan="4" style="color:red; font-weight:bold; text-align:left;">TT: @String.Format("{0:0,0}",ViewBag.TongThanhTien) VND</td>
        </tr>
        <tr>
            <td colspan ="6">@Html.ActionLink("TRỞ VỀ GIỎ HÀNG","GioHang","GioHang")</td>
        </tr>

    </table>
</div>
<h2>THÔNG TIN KHÁCH HÀNG</h2>
@{
    KhachHang kh = (KhachHang)Session["taikhoan"];
    }
<table class="table" align ="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr>
            <td>HỌ TÊN KHÁCH HÀNG:</td>
            <td style="font-weight:bold;">@kh.HoTen</td>
        </tr>
        <tr>
            <td>ĐỊA CHỈ:</td>
            <td style="font-weight:bold;">@kh.DiaChi</td>
        </tr>
        <tr>
            <td>ĐIỆN THOẠI:</td>
            <td style="font-weight:bold;">@kh.DienThoai</td>
        </tr>
        <tr>
            <td>NGÀY ĐẶT:</td>
            <td style="font-weight:bold;">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr>
            <td>NGÀY GIAO HÀNG</td>
            <td><input type="date" name="Ngaygiao" /></td>
        </tr>
        <tr>
            <td colspan="2"><input class="btn btn-primary" type="submit" value="ĐỒNG Ý ĐẶT HÀNG" /></td>
        </tr>
    }
</table>